{% extends 'base_layout.html' %}

{% block titulo %}
  <title>Escolher fundo</title>
{% endblock %}

{% block conteudo %}
  <table><caption>Fundos encontrados</caption>
    <thead>
      <tr>
        <th>Nome do fundo</th>
        <th>CNPJ</th>
        <th>Tipo de fundo</th>

        {% comment %}
        <th colspan="2">CNPJ</th>
        {% endcomment %}

      </tr>
    </thead>
    <tbody>
      {% for fundo in lista_fundos %}
        <tr>
          <td><a href="{{ fundo.link_2 }}">{{ fundo.nome }}</a></td>
          <td><a href="{{ fundo.link_1 }}">{{ fundo.cnpj }}</a></td>
          <td style="text-align: center;">{{ fundo.tipo_fundo }}</td>

          {% comment %}
          <td>{{ fundo.tipo_fundo }}</td>
          {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
