{% extends 'base_layout.html' %}

{% block titulo %}
  <title>Escolher fundo</title>
{% endblock %}

{% block conteudo %}
  <table><caption>Fundos encontrados</caption>
    <thead>
      <tr>
        <th>Nome do fundo</th>
        <th>CNPJ</th>
        <th>Tipo de fundo</th>
        <th>Ir para o Fundo</th>

        {% comment %}
        <th colspan="2">CNPJ</th>
        {% endcomment %}

      </tr>
    </thead>
    <tbody>
      {% for fundo in lista_fundos %}
        <tr>
          <td>{{ fundo.nome }}</td>
          <td>{{ fundo.cnpj }}</td>
          <td style="text-align: center;">{{ fundo.tipo_fundo }}</td>
          <td>
            <form class="escolher_fundo" action="{% url 'processing:fundo_178347' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="cookie_val_1" value="{{ cookie_val_1 }}">
              <input type="hidden" name="cookie_val_2" value="{{ cookie_val_2 }}">
              <input type="submit", value="Ir">
            </form>
          </td>

          {% comment %}
          <td>{{ fundo.tipo_fundo }}</td>
          {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
